body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130%;
    background-position-y: 30%;
    position: absolute;
    color: #00017B;
}
h1 {
    font-weight: 800;
    font-size: 2em;
    color: #3400A9;
}
h3 {
    font-weight: 400;
    font-size: 1.6em;
}
#content{
    position: relative;
    margin: 15px;
    height: 100%;
    /* border-style: solid; */
}
#logo{
    position:relative;
    margin-top: 200px;
    margin-left: 10%;
    width: 40%;
}
#linkButton {
    background-image: linear-gradient(to right, #07BB00 70%, #D0FF00);
    border: none;
    box-shadow: 0 5px 25px #00ff0480;
    text-align: center;
    font-size: 1.4em;
    height: 70px;
    width: 80%;
    margin-top: 50%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 1.3em;
}
.formList {
    
}