body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130%;
    background-position-y: 30%;
    position: absolute;
    color: #00017B;
    font-weight: 600;

}
h1 {
    font-weight: 700;
    font-size: 2em;
    color: #3400A9;
}
h3 {
    font-weight: 600;
    font-size: 1.6em;
}
#content{
    position: relative;
    margin: 15px;
    height: 100%;
    /* border-style: solid; */
}
#submitButton{
    background-color: #00017B;
    border: none;
    box-shadow: 0 5px 25px #0c0b4b4f;
    text-align: center;
    font-size: 1.4em;
    color: white;
    height: 60px;
    width: 80%;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 1.3em;
    font-weight: 600;
}
.formButton {
    background-color: #0DA73A;
    border: none;
    box-shadow: 0 5px 25px #0c0b4b4f;
    text-align: center;
    font-size: 1.4em;
    color: white;
    height: 2.5em;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 1em;
    font-weight: 600;

}
.formTextField {
    height: 3em;
    border-radius: 1em;
    border: none;
    background-color: #D9D9E6;
    color: #00017B;
    font-weight: 600;

}
.formTextField::placeholder {
    color: #00017B;
    font-size: 1.3em;
    font-weight: 600;

}
.formItem {
    padding-top: 2em;
}