# .gitlab-ci.yml

image: python:latest

# Foldre cached between builds
cache:
  paths:
    - cs14-main/

# CI/CD stages
stages:
  - test
  - production

test-job:
  stage: test

  tags:
    - docker

  before_script:
    # build and initialise the database
    - cd django-framework
    - pip install -r requirements.txt
    - python manage.py makemigrations
    - python manage.py migrate --run-syncdb
    - python population_script.py
    - python manage.py collectstatic

    # run the tests
  script:
    - python manage.py test

production-job:
  stage: production
  type: deploy
  image: python:latest
  tags:
    - docker

  script:
    - pip install ruby
    - gem install dpl
    - dpl --provider=heroku --app=$HEROKU_APP_PRODUCTION --api-key=$HEROKU_API_KEY

  only:
    - master



#variables:
  # SECRET_KEY: "this-is-my-secret-key"
  #  DEBUG: "True"
  #  ALLOWED_HOSTS: "['*']"
  #  DB_ENGINE: "django.db.backends.sqlite3"
  #  DB_NAME: "db.sqlite3"
  #  STATIC_URL: "/static/"
