{% extends "main/journey/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}

    Journey Report



{% endblock %}

{% block contend %}
    <div class="container-full px-5 my_fullscreen_div">

        <div class='row justify-content-center'>
            <div class="col-md-auto">
            <span class="material-icons-outlined">fact_check</span><h1 style="display: inline">Journey Details</h1>
            </div>
        </div>

    <hr>

    <link rel="stylesheet"  href='{% static 'CSS/journey/journey-details.css' %}'/>
    <div class='row justify-content-center'>
            <div class="col-md-auto">
    <form method="post">
        {% csrf_token %}
        {% crispy form %}
    </form>
            </div>
    </div>
    </div>
{% endblock %}
