body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130%;
    background-position-y: 30%;
    position: absolute;
    color: #00017B;
    font-weight: 600;

}
h1 {
    font-weight: 700;
    font-size: 35pt;
    color: #3400A9;
}
h3 {
    font-weight: 600;
    font-size: 25pt;
    margin-bottom: 1rem;
}
#div_id_is_round_trip{
    font-weight: 600;
    font-size: 25pt;
    margin-bottom: 1rem;
}

#content{
    position: relative;
    margin: 40px;
    height: 100%;
    /* border-style: solid; */
}
#submitButton{
    background-color: #00017B;
    border: none;
    box-shadow: 0 5px 25px #0c0b4b4f;
    text-align: center;
    font-size: 1.4em;
    color: white;
    height: 4rem;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1.5rem;
    font-weight: 600;
}

#submitButton:hover
{
    background-color: #3333ca;
}

.formButton {
    background-color: #0DA73A;
    border: none;
    box-shadow: 0 5px 25px #0c0b4b4f;
    text-align: center;
    font-size: 1.4rem;
    color: white;
    height: 4rem;
    width: 100%;
    margin-bottom: 1rem;
    margin-bottom: 1rem;
    border-radius: 1.5rem;
    font-weight: 600;

}

.formButton:hover {
    background-color: #126e2e;
    border: none;
    box-shadow: 0 5px 35px #0c0b4b4f;
    color: white;
    
}

.formTextField {
    height: 4rem;
    width: 30rem;
    border-radius: 1.5rem;
    border: none;
    background-color: #D9D9E6;
    color: #00017B;
    font-weight: 600;
    font-size: 15pt;
    margin-bottom: 20px;
    padding-right: 1rem;
    padding-left: 20pt;

}
.formTextField:hover{
    background-color: #e6e6f5;

}
.formTextField::placeholder {
    color: #00017B;
    font-size: 15pt;
    font-weight: 600;

}
.formTextField:focus::placeholder {
    color: transparent;
}

.dropdown {
    /* height: 50pt; */
    border-radius: 1em;
    border: none;
    background-color: #D9D9E6;
    color: #00017B;
    font-weight: 600;
    margin-top: 20px;
    font-size: 15pt;
    padding-left: 20pt;
}

.formItem {
    padding-top: 2em;
}

label {
    width: 800px;
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

hr {width: 100%;}