#pia-chart-menu {
  border-radius: 15px;
  padding: 15px;
  margin: 0;
  color: #575aff;
  background-color: #d6ddff;
}
#average-miles {
  border-radius: 18px;
  border: solid;
  border-width: 1px;
  margin-right: 10px;
  margin-left: 10px;
  border-color: rgba(179, 179, 179, 0.863);
  padding: 20px 20px 10px 20px;
}

#pending-card {
  
  border-radius: 18px;
  border: solid;
  border-width: 1px;
  border-color: rgba(179, 179, 179, 0.863);
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 16px 32px 16px 32px;
}