* {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;

  /* border-style: solid !important;
    border-color: red !important;
    border-width: 1px; */
}

#bootstrap-overrides span {
  padding: 0;
  margin: 0;
  width: auto;
  font-size: 32px;
}

#title {
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}

#bootstrap-overrides h1 {
  font-size: 10px;
  font-weight: 800;
  color: #585858;
  margin-bottom: 10px;
}

#bootstrap-overrides hr {
  margin-top: 3px;
  margin-bottom: 5px;
  border-color: #d3d3d3;
}

#bootstrap-overrides h5 {
  font-size: 20px;
  font-weight: 600;
  /* display: inline; */
  padding: 4px;
  margin: 0;
}

#bootstrap-overrides h2 {
  font-size: 28px;
  font-weight: 700;
  color: #585858;
}

#NavLogo {
  width: auto;
  height: 30px;
}

.menu-item {
  padding: 15px;
  margin: 0;
  color: #838383;
  transition: 100ms ease-out;
}

.menu-item:hover {
  color: #525252;
  border-radius: 15px;
  background-color: #eeeeee;
  transition: 100ms ease-out;
}

#bootstrap-overrides.card {
  padding: 15px 20px 20px 20px;
  border-style: solid;
  border-color: #d3d3d3;
  border-radius: 18px;
}

#signed-in-as {
  padding: 0;
  margin: 0;
  margin-bottom: -4px;
  font-size: 14px;
  color: #5162ff;
}

.content {
  margin-left: 20px;
}

#account-box {
  margin: 0;
  margin-top: 40px;
}

#profile-picture .profile span {
  font-size: 20px;
  margin-right: 20px;
}

#account-name {
  padding: 0;
  margin: 0;
  font-size: 20px;
  color: #000000;
}

@media only screen and (max-device-width: 959px) {
  #bootstrap-overrides.card h5 {
    font-size: 36px;
  }

  #bootstrap-overrides.card h2 {
    font-size: 42px;
  }

  #bootstrap-overrides.card {
    padding: 36px;
    border-style: solid;
    border-color: #d3d3d3;
    border-radius: 36px;
  }

  #bootstrap-overrides span {
    font-size: 48px;
  }

  #NavLogo {
    width: auto;
    height: 60px;
    margin: 20px;
  }

  .menu-item {
    padding: 32px 24px 32px 24px;
  }
}
