.tablelink {
  text-decoration: none !important;
	color: black !important;
}

.tablelink:hover {
  text-decoration: underline;
  font-weight: bold;
}

.table > tbody > tr:nth-child(2n) > td {
	background-color: rgba(254, 127, 45, 0.5);	
 }

 .table>thead{
	 background-color: rgba(254,127,45,0.7);
	 border: 3px solid black;
 }

 .table td, .table td a{
	text-align: center !important;
 }