{% extends "main/base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block contend %}
<link rel="stylesheet" href='{% static 'CSS/index.css' %}'>
    Welcome to the index page for the transportation services analytics project.<br>
    <a href="{% url 'main:journey_details' %}">Visit journey-details!</a><br>
    <a href="{% url 'main:report_journey' %}">Visit report-journey!</a><br>
    <br/>
    <a href="{% url 'main:admin_login' %}">Visit admin_login!</a><br>
    <a href="{% url 'main:analysis' %}">Visit analysis!</a><br>
    <a href="{% url 'main:dashboard' %}">Visit dashboard!</a><br>
    <a href="{% url 'main:analytics' %}">Visit analytics!</a><br>
    <a href="{% url 'main:data_table' %}">Visit data_table!</a><br>
    <a href="{% url 'main:export_data' %}">Visit export_data!</a>
{% endblock %}
{% block extra_js %}{% endblock %}