{% extends "main/base.html" %}
{% block title %}
    Journey Report
{% endblock %}

{% block contend %}
<style>
    body {
        background-repeat: no-repeat;
        background-position: center;
        background-size: 130%;
        background-position-y: 30%;
        position: absolute;
    }
    h1 {
        font-weight: 600;
        font-size: 2em;
        color: #3400A9;
    }
    h3 {
        font-weight: 400;
    }
    #content{
        position: relative;
        margin: 15px;
        height: 100%;
        /* border-style: solid; */
    }
    #logo{
        position:relative;
        margin-top: 200px;
        margin-left: 10%;
        width: 40%;
    }
    #linkButton {
        background-image: linear-gradient(to right, #07BB00 70%, #D0FF00);
        border: none;
        box-shadow: 0 5px 25px #00ff0480;
        text-align: center;
        font-size: 1.4em;
        height: 70px;
        width: 80%;
        margin-top: 50%;
        margin-left: 10%;
        margin-right: 10%;
        border-radius: 1.3em;
    }

</style>
    <div id=content>
        <div>
        <h1>Journey Details</h1>
    </div>
    <div>
        <h3>Date & Time</h3>
        <div>
            <form>
              <label>Start-End Date (date and time):</label>
                <br>
                Start <input type="datetime-local" id="Journeytime" name="Journeytime">
                End <input type="datetime-local" id="Journeytime" name="Journeytime">
            </form>
        </div>
    </div>
    <div>
        <h3>Vehicle Information</h3>
        <button type="button" class="btn btn-primary">Scan License Plate</button>
        <h3>OR</h3>
        <input type="text1" class="form-control" id="license_plate_manual" placeholder="Type in Manually">
    </div>
    <input>
        <h3>Journey Information</h3>

        <input type="text1" class="form-control" id="driver_name" placeholder="Name">

        <select class="form-select" aria-label="Default select example">
            <option selected>Journey Purpose</option>
            <option value="1">Something</option>
            <option value="2">Morething</option>
            <option value="3">EvenMoreSomething</option>
        </select>

        <input type="text1" class="form-control" id="distance_travelled" placeholder="Distance Traveled">
        <button type="button" class="btn btn-primary">Use My Current Location</button>
        <h3>OR</h3>
        <input type="text1" class="form-control" id="location_manual" placeholder="Type in Manually">
    </div>

    <button type="button" class="btn btn-primary">Submit Your Journey</button>
</div>
{% endblock %}
{% block extra_js %}{% endblock %}


