{% extends "main/base.html" %}
{% load static %}
{% block title %}
    Report Journey
{% endblock %}


{% block contend %}
    <style>
        #linkButton {
            background-image: linear-gradient(to right, #07BB00, #D0FF00);
            border: none;
            position: fixed;
            text-align: center;
            top: 50%;
            left: 40%;
        }
        #bgA{
            height: 50%;
            width: 50%;

        }
        #bgB{
            height: 50%;
            width: 50%;

        }

    </style>
    <div>
        <img class="background" id="background" src="{% static "images/report_journey/background.png" %}"/>
        <img id="bgB" src="{% static "images/bgB.png" %}"/>
    </div>
    <button type="button" class="btn btn-primary" id="linkButton"
            onclick="window.location.href='{% url "main:journey_details" %}'">
        Report Your Journey
    </button>
{% endblock %}
{% block extra_js %}
{% endblock %}
