{% extends "main/analytics/base.html" %}
{% load static %}
{% block title %}
{% endblock %}
{% block contend %}
<link rel="stylesheet" href='{% static 'CSS/account-manager.css' %}'>
<div>
    <h1>
        Transport Services
    </h1>
</div>

<div>
    <h2>
        Side Menu
    </h2>
    <h3>
        <button type="button" class ="btn btn-primary">Dashboard</button>
        <button type="button" class ="btn btn-primary">Pending Data</button>
        <button type="button" class ="btn btn-primary">Analytics</button>
        <button type="button" class ="btn btn-primary">Data Table</button>
        <button type="button" class ="btn btn-primary">Export Data</button>
        <button type="button" class ="btn btn-primary">Account Manager</button>
        <button type="button" class ="btn btn-primary">Profile Name</button>
        <button type="button" class ="btn btn-primary">Logout</button>
    </h3>
</div>
{% endblock %}
{% block extra_js %}
{% endblock %}
