{% extends "main/analytics/base.html" %}
{% load static %}
{% block title %}

{% endblock %}


{% block contend %}

<script src="https://d3js.org/d3.v7.min.js"></script>
<link rel="stylesheet" href='{% static 'CSS/analytics/analytics.css' %}'>
<div id="div_travel_frequency">
    <h2>
        Travel Frequency
    </h2>
    <p id="tab_travel_frequency">
    <svg width="600" height="500"></svg>
    </p>

</div>
<div id="div_destination">
    <h2>
        Destination
    </h2>

    <p>
    </p>

</div>
<div>
    <h2>
        Vehicle Types
    </h2>
    <p></p>
</div>
<div>
    <h2>
        Average Fuel Usage
    </h2>
    <p></p>
</div>
<div>
    <h2>
        Average Miles Traveled
    </h2>
    <p></p>
</div>
    
{% endblock %}
{% block extra_js %}
    <script>


//json data
    var received_data  = {{ data|safe }};
    var obj = JSON.parse(received_data);
    console.log(obj[1]);
    obj.forEach(function(d) {
        d.fields.start_date = new Date (d.fields.start_date);})

    console.log(obj[2]);

    // d3 drawing

    //svg which is the background picture for the graph

    var svg = d3.select("svg"),
        margin = 200,
        width = svg.attr("width") - margin,
        height = svg.attr("height") - margin;
    //define the scale for x and y

    var xScale = d3.scaleTime().range ([0, width]),
        yScale = d3.scaleLinear().range ([height, 0]);



    //domain of x and y scale
    xScale.domain([d3.min(obj, function(d) { return d.fields.start_date; }),
        d3.max(obj, function(d) { return d.fields.start_date; })]);
    yScale.domain([0, 5]);

    //grouping graph attributes
        var g = svg.append("g")
                   .attr("transform", "translate(" + 100 + "," + 100 + ")");
    //define x axies detail
        g.append("g")
         .attr("transform", "translate(0," + height + ")")
         .call(d3.axisBottom(xScale));
    //define y axies detail
        g.append("g")
         .call(d3.axisLeft(yScale).tickFormat(function(d){
             return  d+"Times";
         }).ticks(6))
         .append("text")
         .attr("transform", "rotate(-90)")
         .attr("y", 6)
         .attr("dy",".71em")
         .attr("text-anchor", "end")
         .attr("stroke", "black")
         .text("Frequency");

    //frequency data preparation, can see console.log information to check frequency correct or not
    var tally = {};
    obj.forEach(function (d){
        tally[d.fields.start_date]=(tally[d.fields.start_date]||0) + 1;
    })

    var data = [];
    for (var date in tally) {
    if (tally.hasOwnProperty(date)) {
        data.push({
            date: date,
            frequency: tally[date]
        });
    }}
    console.log(data)




    //xScale.domain(data.map(function (d) {
        //return d.date;
        //}));
    //yScale.domain([0, d3.max(data, function (d) {
        //return d.frequency;
        //})]);

    //drawing bar in the graph
    svg.selectAll(".bar")
    .data(data)
    .enter().append("rect")
    .attr("class", "bar")
    .attr("x", function (d) {
    return xScale(d.date);
})
    .attr("width", ".71em")
    .attr("y", function (d) {
    return yScale(d.frequency);
})
    .attr("height", function (d) {
    return d.frequency;
});








    </script>
{% endblock %}