{% extends "main/analytics/base.html" %}
{% load static %}
{% block title %}

{% endblock %}


{% block contend %}

<script src="https://d3js.org/d3.v7.min.js"></script>
<link rel="stylesheet" href='{% static 'CSS/analytics/analytics.css' %}'>
<div id="div_travel_frequency">


<div id="div_destination">
    <h1 id="title">Analytics</h1>

    <p id="average_mile">
         Average Miles Traveled {{ average_miles }}
    </p>

    <p id="tab_destination">
        <img src="data:image/png;base64,{{ graphs }}" alt="" height=1000" ,width="800">
    </p>
</div>
    
{% endblock %}
{% block extra_js %}
    <script>



    // d3 drawing

    //frequency data preparation, can see console.log information to check frequency correct or not

{% endblock %}