{% extends "main/analytics/base.html" %}
{% load static %}
{% block title %}
{% endblock %}
{% block contend %}
<link rel="stylesheet" href='{% static 'CSS/analytics/dashboard.css' %}'>
<div>
    <h1>
        Dashboard
    </h1>
    <h3>
        Weekly Data Summary
    </h3>
    <div>
        <h3>
            Journeys Reported
        </h3>
    </div>
    <div>
        <h3>
            Miles Travelled On Average
        </h3>
    </div>
    <div>
        <h3>
            The Most Common Purpose Of A Journey Is "Fueling"
        </h3>
    </div>
</div>

{% endblock %}
{% block extra_js %}
{% endblock %}
