{% extends "main/analytics/base.html" %}
{% load static %}
{% block title %}
{% endblock %}
{% block contend %}
<link rel="stylesheet" href='{% static 'CSS/analytics/dashboard.css' %}'>
<div>
    <h1 id="title">Dashboard</h1>
    {% if common_purpose %}
        <div id="approvals">
            <h4 style="font-weight: 700;">There are {{ pending }} journey(s) awaiting approval</h3>
        </div>
        <h3 style="margin-top: 20px; font-weight: 700; color: rgb(80, 80, 80);">
            Weekly Data Summary
        </h3>
        <p style="font-weight: 600; color: rgb(80, 80, 80);">{{ week_ago}} - {{ cur_date }}</p>
        <div class="row">
            <div id="journeys-reported" class="col">
                <span class="material-icons-round" id="journeys-reported-icon" style="margin-left: 30%;">tour</span> 
                <h3 style="font-weight: 700; text-align: center;">
                    <span style="color:#e43fec; font-weight: 700;">{{ reported_journeys }}</span> journeys reported
                </h3>
            </div>
            <div id="average-miles" class="col">
                <span class="material-icons-round" id="average-miles-icon" style="margin-left: 30%;">airport_shuttle</span>
                <h3 style="font-weight: 700; text-align: center;">
                    <span style="color:#15ad15; font-weight: 700;">{{ average_miles }}</span> miles travelled on average
                </h3>
            </div>
        </div>
        <div id="common-purpose" class="col">
            <h3 style="font-weight: 700; font-size: 40px; padding: 30px; text-align: center;">
                The most common purpose of a journey is <span style="color:#2049ff; font-weight: 700;">"{{ common_purpose }}"</span>.
            </h3>
        </div>
    {% else %}
        <div id="no-joruneys">
            <p>{{ week_ago}} - {{ cur_date }}</p>
            <p>No journeys have been reported this week.</p>
        </div>
    {% endif %}
    
        

{% endblock %}
{% block extra_js %}
{% endblock %}
