{% extends "main/analytics/base.html" %}
{% load static %}
{% block title %}
{% endblock %}
{% block contend %}
<link rel="stylesheet" href='{% static 'CSS/analytics/data-table.css' %}'>
<h1 id="title">Data Table</h1>
<div class="col-8">
	{% if journeys %}
		<table class = "table table-bordered" style="width:100%;" id="data_table">
	    <thead>
	      <tr>
	        <th>Start Date</th>
	  		<th>End Date</th>
	  		<th>Driver</th>
	  		<th>Plate Number</th>
	  		<th>Start Location</th>
	  		<th>First Destination</th>
	  		<th>Second Destination</th>
	  		<th>Third Destination</th>
	  		<th>Purpose</th>
	  		<th>Number of Passengers</th>
	  		<th>Start Time</th>
	  		<th>End Time</th>
	  		<th>Starting Mileage</th>
	  		<th>Ending Mileage</th>
	  		<th>Round Trip?</th>
	      </tr>
	    </thead>
	    <tbody>
	      {% for journey in journeys %}
	        <tr>
				  <td><div style="width: 70px" >{{ journey.start_date }}</div></td>
	              <td><div style="width: 70px" >{{ journey.end_date }}</div></td>
	              <td>{{ journey.driver }}</td>
	              <td>{{ journey.plate_number }}</td>
	              <td>{{ journey.start_location }}</td>
	              <td>{{ journey.destinations1 }}</td>
	              <td>{{ journey.destinations2 }}</td>
	              <td>{{ journey.destinations3 }}</td>
	              <td>{{ journey.purpose }}</td>
	              <td>{{ journey.no_of_pass }}</td>
	              <td>{{ journey.start_time }}</td>
	              <td>{{ journey.end_time }}</td>
	              <td>{{ journey.mileage_start }}</td>
	              <td>{{ journey.mileage_finish }}</td>
	              <td>{{ journey.round_trip }}</td>
				</tr>
	      {% endfor %}
	    </tbody>
	    </table>
	{% else %}
		<p>There are no approved journeys</p>
	{% endif %}
	
    
</div>
{% endblock %}
{% block extra_js %}
{% endblock %}
