{% extends "main/analytics/base.html" %}
{% load static %}
{% block title %}
{% endblock %}
{% block contend %}
<link rel="stylesheet" href='{% static ' CSS/analytics/export-data.css' %}'>
<h1 id="title">Export Data</h1>
<div>
    <form action="{% url 'main:export_data_file' %}" method="post">
        {% csrf_token %}
        <button type="submit" name="export" class="btn" id="export-button">
            <span class="material-icons" id="download" style="font-size: 72px;">download</span>
            <br>
            Export database in CSV
        </button>
    </form>
</div>
{% endblock %}
{% block extra_js %}
{% endblock %}