{% extends "main/analytics/base.html" %}
{% load static %}
{% block title %}
{% endblock %}
{% block contend %}

<script src=”https://code.jquery.com/jquery-3.6.0.min.js” integrity=”sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=” crossorigin=”anonymous”;></script>
<script src="{% static 'js/pending-data.js' %}"></script>
<link rel="stylesheet" href='{% static 'CSS/analytics/pending-data.css' %}'>

<div>
    <h1 id=title>
        Pending Data
    </h1>
    {% csrf_token %}
    {% if journeys %}
        {% for journey in journeys %}
    <div id="pending-card">
        <div class="row" id="element">
            <span class="material-icons-outlined col-1" style="color: rgb(134, 134, 134); font-size: 32px;">badge</span>
            <h3 id="content-text" class="col-2">{{ journey.driver }}</h2>
            <div class="col-5"></div>
            <button type="button" id={{ journey.id }} class="btn btn-outline-success approve col" style="background-color: rgb(230, 255, 237); margin-right: 20px;">Approve</button>
            <button type="button" id={{ journey.id  }} class="btn btn-outline-danger reject col" style="background-color: rgb(255, 235, 235);">Reject</button>
        </div>
        <hr id="horizontal-line" id="element"></hr>
        <div class="row" id="element">
            <span class="material-icons-outlined col-1" style="color: rgb(134, 134, 134); font-size: 32px;">date_range</span>
            <h3 id="content-text" class="col-5">{{ journey.start_date }} - {{ journey.start_date }}</h3>
            <span class="material-icons-outlined col-1" style="color: rgb(134, 134, 134); font-size: 32px;">schedule</span>
            <h3 id="content-text" class="col-5">{{ journey.start_time }} - {{ journey.end_time }}</h3>
        </div>
        <div class="row" id="element">
            <span class="material-icons-outlined col-1" style="color: rgb(134, 134, 134); font-size: 32px;">groups</span>
            <h3 id="content-text" class="col-5">{{ journey.no_of_pass }}</h3>
            <span class="material-icons-outlined col-1" style="color: rgb(134, 134, 134); font-size: 32px;">autorenew</span>
            <h3 id="content-text" class="col-5">{{ journey.round_trip }}</h3>
        </div>
        <div class="row" id="element">
            <span class="material-icons-outlined col-1" style="color: rgb(134, 134, 134); font-size: 32px;">airport_shuttle</span>
            <h3 id="content-text" class="col-5">{{ journey.vehicle_type }}</h3>
            <span class="material-icons-outlined col-1" style="color: rgb(134, 134, 134); font-size: 32px;">straighten</span>
            <h3 id="content-text" class="col-5">{{ journey.total_miles }}</h3>
        </div>
        <div class="row" id="element">
            <span class="material-icons-outlined col-1" style="color: rgb(134, 134, 134); font-size: 32px;">place</span>
            <h3 id="content-text" class="col-5">{{ journey.destinations1 }} {% if journey.destinations2 %} - {{ journey.destinations2 }} {% endif %} {% if journey.destinations3 %} - {{ journey.destinations3 }} {% endif %}</h3>
            <span class="material-icons-outlined col-1" style="color: rgb(134, 134, 134); font-size: 32px;">description</span>
            <h3 id="content-text" class="col-5">{{ journey.purpose }}</h3>
        </div>
    </div>
        {% endfor %}

    {% else %}
        <h3>There are no pending journeys. </h3>
    {% endif %}
</div>


{% endblock %}
{% block extra_js %}
{% endblock %}
