{% extends "main/base.html" %}
{% load static %}
{% block title %}
{% endblock %}
{% block contend %}
<link rel="stylesheet" href='{% static 'CSS/analytics/pending-data.css' %}'>
<div>
    <h1>
        Pending Data
    </h1>
    {% if journeys %}
        {% for journey in journeys %} 
            <tr>         
              <td>{{ journey.start_date }}</td>
              <td>{{ journey.end_date }}</td>
              <td>{{ journey.driver }}</td>
              <td>{{ journey.plate_number }}</td>
              <td>{{ journey.destinations }}</td>
              <td>{{ journey.purpose }}</td>
              <td>{{ journey.no_of_pass }}</td>
              <td>{{ journey.start_time }}</td>
              <td>{{ journey.end_time }}</td>
              <td>{{ journey.mileage_start }}</td>
              <td>{{ journey.mileage_finish }}</td>
              <td>{{ journey.round_trip }}</td>
              <td><button type="button" class ="btn btn-primary">Approve</button></td>
              <td><button type="button" class ="btn btn-primary">Reject</button>  </td>
            </tr>
            </br>
        {% endfor %}

    {% else %}
        <p>No journeys are in the databse. </p>
    {% endif %}
</div>

{% endblock %}
{% block extra_js %}
{% endblock %}
